* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.top {
    padding-top: 15px;
}

.judul {
    display: inline-flex;
}

.judul h1 {
    font-size: 25px;    
    margin-left: 100px;
}

.judul h2 {
    width: 30px;
    height: 30px;
    background-color:rgb(252, 235, 0);
    border-radius: 50%;
}

.judul h3 {
    font-size: 26px;
}

a {
    text-decoration: none;
    color: black;
}

.atas {
    display: inline-flex;
}

.atas {
    margin-left: 40px;
}

.atas h3 i {
    color: #FFE700;
}

.atas h3 {
    padding: 8px 10px;
}

.atas img {
    padding-top: 12px;
    padding-left: 10px;
}

.atas h2 {
    font-size: 20px;
    padding-top: 8px;
    margin-left: 5px;
}

.atas h4 {
    padding: 5px 10px;
    font-size: 20px;
    background-color: #0066FF;
    padding: 8px 10px;
    margin: 0;
    border-radius: 8%;
    transition: transform 0.5s;
    box-shadow: 0px 0px 20px white;
}

.atas h4:hover {
    background-color: #0D92F4;
    color: white;
    transform: scale(1.1);
}

.serch {
    display: flex;
}

.masuk {
    position: relative;
    width: 320px;
    height: 5px;
    margin: 35px 110px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 20px;
    padding-top: 10px;
}

.masuk .search-icon {
    position: absolute;
    left: 290px;
    top: 300%;
    transform: translateY(-50%);
    font-size: 18px;
    color: gray;
}

.masuk input {
    background-color: #fff ;
    border: solid 1px black;
    font-family: Arial;
    width: 320px;
    height: 100%;
    border: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 6px gray;
}

.masuk input:hover {
    background-color: #fff;
    box-shadow: 0px 0px 6px gray;
}

.menu ul li {
    display: inline-block;
    padding: 31px 0px;
    margin: 4px;
}

.menu ul li a {
    text-decoration: none;
    display: inline-block; 
    transition: all;
    transition-duration: 300ms;
    padding: 8px 0px;
    transition: all;
    transition-duration: 500ms;
    border-bottom: 5px solid #1e8fff00; 
}

.menu ul li a:hover {
    border-bottom: 5px solid #1e90ff ;
    color: #1e90ff ;
}

.back {
    background-image: url(kasur2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 145vh;
}

.tema {
    display: flex;
    align-items: center; 
    gap: 20px;
    padding: 10px; 
}

.tema h1 {
    margin: 0;
    width: 400px;
    padding-top: 350px;
    padding-left: 20px;
    font-size: 2.5rem;
    color: #fff;
}

.gambar img {
    position: relative;
    background-color: #fff;
    width: 55px;
    height: 45px;
    padding: 5px;
    margin-right: 20px;
    border-radius: 50%;
}

.box {
    width: 390px;
    height: 300px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    right: 100px; 
    top: 200px;
    z-index: 1; 
    padding: 20px;
    display: inline; 
    align-items: center;
}

.ground {
    margin-top: 20px;
}

.ground .search-icon {
    position: absolute;
    left: 35px;
    top: 60px;
    transform: translateY(-50%);
    font-size: 18px;
    color: gray;
}

.ground input {
    background-color: #f5f3ee;
    font-size: 18px;
    font-family: Verdana;
    width: 95%;
    height: 30px;
    border: none;
    outline: none;
    padding: 20px 50px;
    font-size: 15px;
    border-radius: 2px;
}

.ground1 {
    margin-top: 20px;
}

.ground1 .search-icon {
    position: absolute;
    bottom: 3px;
    left: 20px;
    transform: translateY(-50%);
    font-size: 18px;
    color: gray;
}

.ground1 input {
    background-color: #f5f3ee;
    font-size: 18px;
    font-family: Verdana;
    width: 95%;
    height: 30px;
    border: none;
    outline: none;
    padding: 20px 50px;
    border-radius: 2px;
}

.container {
    position: relative;
}

.tanggal {
    position: absolute;
    top: 100%;
    z-index: 100;
    margin-top: 2px;
    background-color: #B9E5E8;
    padding: 10px;
    border-radius: 5px;
}

.tanggal button {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
}

.day, .dates {
    display: grid;
    grid-template-columns: repeat(7, 32px);
    gap: 10px;
    margin-block: 10px;
}

.day span {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.dates button {
    color: slategray;
    aspect-ratio: 1;
}

.dates button:disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;   
}

.dates button:hover {
    background: rgba(119, 136, 153, 0.1);
}

.dates button.today {
    background: rgba(147, 112, 216, 0.2);
    color: mediumblue;
}

.dates button.selected {
    background: mediumblue;
    color: #fff;
}

.tanggal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.tanggal-header select {
    font-size: 14px;
    border: 1px solid #eee;
    padding: 0px 10px;
    margin: 0px 15px;
}

.tanggal-header input {
    font-size: 14px;
    border: 1px solid #eee;
    background: #fff;
    padding: 0px 10px;
    margin: 0px 15px;
}

.tanggal-header input {
    max-height: 64px;
}

.box1 {
    padding-top: 20px;
}

.tanggal-header button {
    color: slategray;
}

.tanggal-header button:hover {
    color: mediumblue;
}

.tanggal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.tanggal-footer button {
    background: rgba(119, 136, 153, 0.1);
    padding: 3px 10px;
}

.tanggal-footer button.apply {
    background: mediumblue;
    color: #fff;
}


 
.in {
    height: 50px;
    width: 335px;
    background-color: #0066FF;
    padding: 13px 0px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.in h4 {
    font-size: 18px;
    padding-bottom: 60px;
    text-align: center;
    color: #fff;
    font-family: verdana;
} 

.in:hover {
    background-color: #0D92F4;
}

.out  {
    width: 65px;
    height: 40px;
    background-color: #0066FF;
    padding: 11px 8px;
    margin: 0px 142px;
    border-radius: 5px;
}

.out h5 {
    text-align: center;
    font-family: verdana;
    color: #fff;
}

.out:hover {
    background-color: #0D92F4;
}
