* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins" ,sans-serif;
}

body {
    background: linear-gradient(#add8e6, #87ceeb, #87cefa, #00bfff, #1e90ff);;
}

.login {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	place-items: center;
	background-image: url(b.avif);
    background-repeat: no-repeat;
    background-size: 156%;
	overflow: hidden;
	max-width: 450px;
	border-radius: 20px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	margin: 40px 340px;
}

.mas {
	position: relative;
	height: 50px;
	width: 100%;
	overflow: hidden;
	margin: 15px 0 10px 0;
	justify-content: space-between;
	text-align: center;
}

.masuk {
	position: relative;
	width: 150%;
	height: 50px;
	background-color: salmon;
	margin: 15px 0;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 40px;
	font-size: 20px;

}

.masuk input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid black;
	border-radius: 40px;
	font-size: 16px;
	padding: 10px;
    color: black;
    font-family:verdana ;
}

.masuk i {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.pass {
	position: relative;
	width: 150%;
	height: 50px;
	background-color: salmon;
	margin: 15px 0;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 40px;
	font-size: 20px;
}

.pass input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid black;
	border-radius: 40px;
	font-size: 16px;
	padding: 10px;
    color: black;
    font-family:verdana ;
}

.pass i {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.email {
	position: relative;
	width: 150%;
	height: 50px;
	background-color: salmon;
	margin: 15px 0;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 40px;
	font-size: 20px;
}

.email input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid black;
	border-radius: 40px;
	font-size: 16px;
	padding: 10px;
    color: black;
    font-family:verdana ;
}

.email input:text {
	width: 100%;
	height: 100%;
	font-size: 50px;
	margin: 10px;
}

.email input:placeholder {
	color: #fff;
}

.email i {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.log {
	position: relative;
	width: 50%;
	height: 50px;
	background-color: #add8e6;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	margin: 15px 0;
	border: none;
	outline: none;
	border-radius: 40px;
	font-size: 20px;
}

a {
	text-decoration: none;
    color: black;
}

.log button {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	border-radius: 40px;
	font-size: 16px;
	padding: 10px;
    box-shadow: 0px 0px 5px;
    background-color: #add8e6;
    cursor: pointer;
    transition: transform 1s ease;
}

.log button:hover {
    transform: scale(1.2);
}

