* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.top {
    padding-top: 15px;
}

.judul {
    display: inline-flex;
}

.judul h1 {
    font-size: 25px;    
    margin-left: 100px;
}

.judul h2 {
    width: 30px;
    height: 30px;
    background-color:rgb(252, 235, 0);
    border-radius: 50%;
}

.judul h3 {
    font-size: 26px;
}

a {
    text-decoration: none;
    color: black;
}

.atas {
    display: inline-flex;
}

.atas {
    margin-left: 40px;
}

.atas h3 i {
    color: #FFE700;
}

.atas h3 {
    padding: 8px 10px;
}

.atas img {
    padding-top: 12px;
    padding-left: 10px;
}

.atas h2 {
    font-size: 20px;
    padding-top: 8px;
    margin-left: 5px;
}

.atas h4 {
    padding: 5px 10px;
    font-size: 20px;
    background-color: #0066FF;
    padding: 8px 10px;
    margin: 0;
    border-radius: 8%;
    transition: transform 0.5s;
    box-shadow: 0px 0px 20px white;
}

.atas h4:hover {
    background-color: #0D92F4;
    color: white;
    transform: scale(1.1);
}

.serch {
    display: flex;
}

.masuk {
    position: relative;
    width: 320px;
    height: 5px;
    margin: 35px 110px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 20px;
    padding-top: 10px;
}

.masuk .search-icon {
    position: absolute;
    left: 290px;
    top: 300%;
    transform: translateY(-50%);
    font-size: 18px;
    color: gray;
}

.masuk input {
    background-color: #fff ;
    border: solid 1px black;
    font-family: Arial;
    width: 320px;
    height: 100%;
    border: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 6px gray;
}

.masuk input:hover {
    background-color: #fff;
    box-shadow: 0px 0px 6px gray;
}

.menu ul li {
    display: inline-block;
    padding: 31px 0px;
    margin: 4px;
}

.menu ul li a {
    text-decoration: none;
    display: inline-block; 
    transition: all;
    transition-duration: 300ms;
    padding: 8px 0px;
    transition: all;
    transition-duration: 500ms;
    border-bottom: 5px solid #1e8fff00; 
}

.menu ul li a:hover {
    border-bottom: 5px solid #1e90ff ;
    color: #1e90ff ;
}


.back {
    background-image: url(villa2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 120vh;
}

.tema {
    display: flex;
    align-items: center; 
    gap: 20px;
    padding: 10px; 
}

.tema h1 {
    margin: 0;
    width: 430px;
    padding-top: 290px;
    padding-left: 20px;
    font-size: 2.5rem;
    color: #fff;
}

.gambar img {
    position: relative;
    background-color: #fff;
    width: 55px;
    height: 45px;
    padding: 5px;
    margin-right: 20px;
    border-radius: 50%;
}

.box {
    display: inline;
    width: 390px;
    height: 300px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    right: 100px; 
    top: 200px;
    z-index: 1; 
    padding: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.slid {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slid .search-icon {
    position: absolute;
    bottom: 230px;
    padding: 0px 15px;
    color: gray;
    font-size: 18px;
}

.slid input {
    background-color: #f5f3ee;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    padding: 20px 50px;
    font-size: 18px;
    font-family: verdana;
}

.slid1 .search-icon {
    position: absolute;
    left: 40px;
    top: 120px;
    color: gray;
    transform: translateY(-50%);

}

.slid1 input {
    background-color: #f5f3ee;
    width: 100%;
    height: 30px;
    padding: 20px 50px;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: verdana;
}

.box1 {
    padding-top: 20px;
}

.in {
    height: 50px;
    width: 335px;
    background-color: #0066FF;
    padding: 13px 0px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.in h4 {
    font-size: 18px;
    padding-bottom: 60px;
    text-align: center;
    color: #fff;
    font-family: verdana;
} 

.in:hover {
    background-color: #0D92F4;
}

.out  {
    width: 65px;
    height: 40px;
    background-color: #0066FF;
    padding: 11px 8px;
    margin: 0px 142px;
    border-radius: 5px;
}

.out h5 {
    text-align: center;
    font-family: verdana;
    color: #fff;
}

.out:hover {
    background-color: #0D92F4;
}
